/* open-sans-300 - latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v15-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
  url('../fonts/open-sans-v15-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/open-sans-v15-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-v15-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-300.woff') format('woff'), /* Modern Browsers */
  url('../fonts/open-sans-v15-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/open-sans-v15-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v15-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url('../fonts/open-sans-v15-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/open-sans-v15-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-v15-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/open-sans-v15-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/open-sans-v15-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v15-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
  url('../fonts/open-sans-v15-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/open-sans-v15-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-v15-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-600.woff') format('woff'), /* Modern Browsers */
  url('../fonts/open-sans-v15-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/open-sans-v15-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* roboto-100 - latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/roboto-v18-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-100.eot'); /* IE9 Compat Modes */
  src: local('Roboto Thin'), local('Roboto-Thin'),
  url('../fonts/roboto-v18-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-v18-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-100.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v18-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-100.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-v18-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-100.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-v18-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-100.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300 - latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-v18-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
  url('../fonts/roboto-v18-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-v18-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v18-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-300.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-v18-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-v18-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v18-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
  url('../fonts/roboto-v18-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-v18-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v18-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-v18-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-v18-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v18-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('../fonts/roboto-v18-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-v18-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v18-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-500.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-v18-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-v18-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v18-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('../fonts/roboto-v18-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-v18-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v18-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-v18-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-v18-latin-ext_greek_cyrillic_cyrillic-ext_greek-ext_latin_vietnamese-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* volkhov-italic - latin */
@font-face {
  font-family: 'Volkhov';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/volkhov-v9-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Volkhov Italic'), local('Volkhov-Italic'),
  url('../fonts/volkhov-v9-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/volkhov-v9-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/volkhov-v9-latin-italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/volkhov-v9-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/volkhov-v9-latin-italic.svg#Volkhov') format('svg'); /* Legacy iOS */
}

/*--
	Common Css
--*/
body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background: url("/img/background.png") no-repeat;
  background-size: cover;
}

.jumbotron {
  background: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-size: 30px;
  font-weight: 400;
}
h3 {
  font-size: 28px;
  font-weight: 300;
}
p {
  font-size: 15px;
  line-height: 28px;
}
ul {
  padding: 0;
  margin: 0;
}
a,
a:active,
a:focus,
a:active {
  text-decoration: none !important;
}
.section-title {
  margin-bottom: 70px;
}
.section-title h2 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
}
.section-title p {
  font-family: 'Volkhov', serif;
  font-style: italic;
  color: #666;
}
/*--
	Header Start
--*/
header {
  background: #fff;
  padding: 0px 0px 15px 0px;
}

@media (max-width: 768px) {
  header {
    padding: 0px 0px 55px 0px;
  }
}

header .navbar {
  margin-bottom: 0px;
  border: 0px;
}
header .navbar-brand {
  padding-top: 5px;
}
header .navbar-default {
  background: white;
  border: 0px;
  padding: 0px 0px 0px 0px;
}

@media (min-width: 768px) {
  header .navbar-default {
    padding: 0px 0px 15px 0px;
  }

  #subtitle {
    height: calc(100vh - 20px);
  }

  #intro, #article {
    padding: 50px 0px 50px 0px;
  }

}

p {
  text-align: justify;
}

section {
  padding: 20px 0px 20px 0px
}

.page-title {
  text-align: center;
}

#joinCommunity {
  margin: 20px 0px 20px 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #616161;
  color: white;
}

#wallet {
  margin: 70px 0px 20px 0px;
}

@media (max-width: 768px) {
  #subtitle {
    height: calc(100vh - 20px);
  }
}

@media (max-width: 991px) {
  .hidden-mobile {
    display: none;
  }
}

@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

.btn-success {
  color: #fff;
  background-color: #27B463;
  border-color: #4cae4c;
}

.btn-default {
  color: black;
  background-color: white;
  border-color: #27B463;
}

.btns-hero {
  margin-top: 20px;
}

header .navbar-default .navbar-nav {
  padding-top: 10px;
}

header .navbar-default .navbar-nav li a {
  color: #333333;
  padding: 10px 26px;
  font-size: 15px;
}

font header .navbar-default .navbar-nav li a:hover {
  color: #000;
}
/*---------------------------------------------
					Index Start
-----------------------------------------------*/
.vertical-align {
    display: flex;
    align-items: center;
}

#subtitle {
  max-height: 100vh;
  max-width: 100vw;
}

hr {
  height: 1px;
  background-color: #27B463;
}
#intro .block h2, #article .block h2 {
  padding-top: 35px;
  line-height: 27px;
  margin: 0;
}

#wallet .block h2 {
  line-height: 27px;
  margin: 0;
}

#intro .block p, #wallet .block p {
  color: #7B7B7B;
  padding-top: 20px;
  font-size: 22px;
}
#intro .block img, #wallet .block img, #article .block img {
  padding-left: 40px;
}
#intro .section-title, #wallet .section-title, #article .section-title {
  margin-bottom: 0px;
}
#intro .section-title p, #wallet .section-title p, #article .section-title p {
  padding-top: 20px;
}
/*--
	service Start
--*/
#service {
  text-align: center;
}
#service .service-item {
  padding-bottom: 30px;
}
#service .service-item i {
  font-size: 60px;
  color: #4A4656;
}
#service .service-item h4 {
  padding-top: 20px;
  margin: 0;
  color: #666;
}
#service .service-item p {
  color: #888;
  padding-top: 10px;
  margin: 0;
  font-size: 14px;
  line-height: 1.8;
}
/*--
	call-to-action Start
--*/
#listCommunity a {
  padding: 35px;
}
/*--------- Heading------------*/
.heading {
  padding-bottom: 60px;
  text-align: center;
}
.heading h2 {
  color: #000;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
}
.heading p {
  font-size: 18px;
  line-height: 40px;
  color: #292929;
  font-weight: 300;
}
/*---------------------------*/
/*--
	footer Start
--*/
footer {
  background: #F5F5F5;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 55px;
}
footer p {
  font-size: 13px;
  line-height: 25px;
  color: #919191;
}
footer a {
  color: #595959;
}
footer .footer-manu {
  padding-bottom: 25px;
}
footer .footer-manu ul {
  margin: 0px;
  padding: 0px;
}
footer .footer-manu ul li {
  display: inline-block;
  padding: 0px 20px;
}
footer .footer-manu ul li a {
  display: inline-block;
  color: #494949;
}
footer .footer-manu ul li a:hover {
  color: #000;
}

.fas-wallet {
  font-size: 52px;
}

.text-so {
  font-weight: bold;
  margin: 10px;
}

.wallet-download-so {
  border: 2px solid gray;
  padding: 20px;
  margin: 5px;
  min-height: 220px !important;
}

@media (min-width: 991px) {
  .wallet-download-so {
    width:22.5%;
    margin: 0px 0px 10px 25px;
  }
}

@media (max-width: 991px) {
  .wallet-download-so {
    width: 85%;
    margin: 0px 0px 10px 25px;
  }
}

.wallet-download-so:hover {
color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

header .navbar-default {
  border-bottom: 2px solid #27B463;
}

.OTeam {
  border: 2px solid #27B463;
  border-radius: 1em;
  padding: 2em;
  margin: 0px 10px 10px 10px;
  min-height: 368px;
}

.OTeam p {
  text-align: center;
}

.OTeam img {
  min-width: 208px;
  min-height: 208px;

  max-width: 350px;

  padding-left: 0px !important;
}
.OTeam.col-md-4 img {
  max-width: 208px;
  max-height: 208px;
}



.contributors {
  border: 2px solid #27B463;
  border-radius: 1em;
  padding: 2em;
  margin: 0px 10px 10px 10px;
  min-height: 344px;
}

.contributors p {
  text-align: center;
}

.contributors img {
  min-width: 208px;
  min-height: 208px;

  max-width: 350px;

  padding-left: 0px !important;
}
.contributors.col-md-4 img {
  max-width: 208px;
  max-height: 208px;
}

@media (max-width: 991px) {
  .contributors, .OTeam {
    width: 90%;
    margin: 0px 0px 10px 25px;
    max-width: unset;
  }
}

@media (min-width: 991px) {
  .contributors.col-md-4 {
    max-width: 31%;
  }

  .OTeam.col-md-4 {
    max-width: 31%;
  }
  .OTeam.col-md-8 {
    max-width: 63.66%;
  }
}

.embed-responsive-item, .embed-responsive, .embed-responsive-4by3 {
  max-height: 480px;
  height: 480px;
  padding-bottom: 0px !important;
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
  footer .navbar {
    margin-bottom: 0px;
    border: 0px;
    min-height: 40px;
  }
  footer .navbar-default {
    border: 0px;
    width: 68%;
  }
  footer .navbar-default .navbar-nav li a {
    color: #494949;
    padding: 10px 10px;
    font-size: 15px;
  }
  footer .navbar-default .navbar-nav li a:hover {
    color: #000;
  }
}
@media only screen and (max-width: 767px) {
    h2 {
      font-size: 18px;
    }
    p {
      font-size: 13px;
    }
    header .navbar-default .navbar-toggle {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  #service {
    padding-top: 100px;
  }
  #service .thumbnail {
    padding-bottom: 70px;
  }
  footer .footer-manu {
    display: none;
  }
}
